img {
  width: auto;
  height: 300px;
  padding-bottom: 25px;
}

/*img:hover {
  width: auto;
  height: 500px;
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 10%;

}*/

.gallery {
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  margin-top: 35px;

}

.navcontent {
  width: 30%;
  display: inline-flex;

}

.navcontent {
  list-style-type: none;
  text-decoration: none;
  /*background-color: #70CAC9;*/
  /*background-color: transparent;*/
    background-color: rgba(0, 0, 0, 0.3);
  height: auto;
  width: 342px;
  position: fixed;
  left: 30px;
  top: 55px;
  /*padding-left: 15px;*/
  border-style: solid;
  border-width: thin;
  /*border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: thin;
  border-bottom-width: thin;*/
  border-color: white;


}

.navi {
  padding-bottom: 15px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  /*border-bottom-style: solid;
  border-bottom-width: thin;*/
  padding-top: 15px;
  padding-left: 15px;

  border: none; !important
}

a {
  list-style-type: none;
  text-decoration: none;
  color: white; !important
}

a:link {
  color: white;
}
a:hover {
  color: #70CAC9;
}
a:visited {

  color: white;
}
a:active {

  color: white;
}

.aboutcontent {
  background-color: white;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 2%;
  text-indent: 30px;
}


@media  (max-width: 991px) {


  .navi {
    padding-bottom: 15px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 130%;
    /*border-bottom-style: solid;
    border-bottom-width: thin;*/
    padding-top: 15px;
    padding-left: 18px;
    text-shadow: -1px 1px 5px black;
    letter-spacing: 1px;
    border: none; !important
  }

.navcontent {
  width: auto;
  border: none;
  /*left: 100px;
  top: 120px;*/

 }

 .navcontent {
   list-style-type: none;
   text-decoration: none;
   /*background-color: #70CAC9;*/
   background-color: transparent;
   height: auto;
   /*width: 342px;*/
   /*display: flex;
   justify-content: flex-end;*/
   position: fixed;
   left: 30px;
   top: 0px;
   /*left: 30px;
   top: 54px;*/
   /*padding-left: 15px;*/
   /*border-style: solid;
   border-width: thin;*/
   /*border-top-style: solid;
   border-bottom-style: solid;
   border-top-width: thin;
   border-bottom-width: thin;*/
   /*border-color: white;*/
 }

 .spilalogo {
   background-color: black;
   display: flex;
   justify-content:center;; !important
   border-top: 50px;
   width: auto; !important

 }

 .logo {
   width: 35px;
   height: 35px;
   padding-right: 5px;
   padding-bottom: 5px;

 }

 li:nth-child(3) {
   padding-right: 2%;
 }

 }
