body {
margin: 0 auto;
width: 100%;
height: 100%;
padding-top: 1%;
}

header {

}

ul {
  display: flex;
  justify-content:flex-end;
  list-style-type: none;
  text-decoration: none;
}

.logo {
  width: 25px;
  height: 25px;
  padding-right: 6px;
  padding-bottom: 5px;

}

li:nth-child(3) {
  padding-right: 4%;
}

.sl {
  width: 50px;
  height: 50px;
  background-color: white;
  padding: 1% 0% 1% 1%;
  border-style: solid;
  border-width: medium;
  border-right-width: 0px;
}

h1 {
  background-color: white;
  text-align: center;
  align-items: center;
  width: auto;
  padding: 1%;
  font-family: sans-serif;
  font-size: 42px;
  letter-spacing: 9px;
  font-weight: bold;
  border-style: solid;
  border-width: medium;
  border-left-width: 0px;


}


.spilalogo {
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  border-top: 50px;
}

.navcontent {
  list-style-type: none;
  text-decoration: none;
  /*background-color: #70CAC9;*/
  /*background-color: transparent;*/
  background-color: rgba(225, 225, 225, 0.3);
  height: auto;
  width: 200px;
  position: fixed;
  left: 30px;
  top: 150px;
  /*padding-left: 15px;*/
  border-style: solid;
  border-width: thin;
  /*border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: thin;
  border-bottom-width: thin;*/
  border-color: black;
}

.navi {
  padding-bottom: 15px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-top: 15px;
  padding-left: 15px;
}


.navi:nth-child(3) {
  border-bottom: none;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

a:link {
  color: black;
}
a:hover {
  color: #70CAC9;
}
a:visited {

  color: black;
}
a:active {

  color: black;
}

.spilacolor:link {
  color: black;
}
.spilacolor:visited {
  color: black;
}
.spilacolor:active {
  color: black;
}


@media  (max-width: 991px) {


  .navi {
    padding-bottom: 15px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 130%;
    padding-top: 15px;
    padding-left: 18px;
    text-shadow: -1px 1px 5px black;
    letter-spacing: 1px;
    border: none; !important
  }

.navcontent {
  width: auto;
  border: none;


 }

 .navcontent {
   list-style-type: none;
   text-decoration: none;

   background-color: transparent;
   height: auto;

   position: fixed;
   left: 30px;
   top: 0px;

 }


 .logo {
   width: 35px;
   height: 35px;
   padding-right: 5px;
   padding-bottom: 5px;

 }

 li:nth-child(3) {
   padding-right: 2%;
 }

 }
